section {
  margin: 2rem 0;
}
.container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.item {
  width: 23%;
  text-align: center;
}
a {
  color: #000;
  text-decoration: none;
  display: block;
}
.content {
  position: relative;
}
.sublink {
  position: absolute;
  opacity: 0;
  padding: 0.25rem;
  border-radius: 0;
  border: 1px solid #60b7b7;
  background: #fff;
  z-index: 1000;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
.sublink a {
  font-size: 0.6rem;
}

.link {
  cursor: pointer;
  background: #f6f6f6;
  padding: 1rem;
  border-radius: 0.4rem;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.content:hover .link {
  background: #60b7b7;
}
.content:hover .link a {
  color: #fff;
}
.content:hover .sublink {
  opacity: 1;
}
@media (max-width: 768px) {
  .item {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .item {
    width: 100%;
  }
}
